<article class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title">{{ .Title }}</h2>
        {{ if .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ .Params.subtitle }}
        </h3>
        {{ end }}
    </a>

    <p class="post-meta">
        {{ partial "post_meta.html" . }}
    </p>
    <div class="post-entry-container">
        {{ $thumbnail := .Params.thumbnail | default .Params.image }}
        {{ if $thumbnail }}
        <div class="post-image">
            <a href="{{ .Permalink }}">
                <img src="{{ $thumbnail | relURL }}" alt="{{ .Title }}" />
            </a>
        </div>
        {{ else if .Params.video }}
        <div class="post-image">
            <a href="{{ .Permalink }}">
                <video loop autoplay muted playsinline>
                    <source src="{{ .Params.video | relURL }}">
                </video>
            </a>
        </div>
        {{ end }}
        <div class="post-entry">
            {{ if or (.Truncated) (.Params.summary) (eq .Type "recipe") }}
            {{ .Summary }}
            <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
            {{ else }}
            {{ .Content }}
            {{ end }}
        </div>
    </div>

    {{ if or .Params.categories .Params.tags }}
    <div class="blog-tags">
        {{ if .Params.categories }}
        <span class="blog-tags-label">{{ i18n "categoriesLabel" }}</span>
        {{ range .Params.categories }}
        {{- $catName := . -}}
        {{- with $.Site.GetPage (printf "/%s/%s" "categories" ($catName | urlize)) -}}
        <a href="{{ .Permalink }}" class="blog-tags-category">{{ $catName }}</a>&nbsp;
        {{- end -}}
        {{ end }}
        {{ end }}
        {{ if .Params.tags }}
        <span class="blog-tags-label">Tags: </span>
        {{ range .Params.tags }}
        {{- $tagName := . -}}
        {{- with $.Site.GetPage (printf "/%s/%s" "tags" ($tagName | urlize)) -}}
        <a href="{{ .Permalink }}">{{ $tagName }}</a>&nbsp;
        {{- end -}}
        {{ end }}
        {{ end }}
    </div>
    {{ end }}

</article>
